.footer {
    background-color: #CAE9F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#voda {
    color:cornflowerblue;
}

#yo {
    color:teal;
}

#headerdiv {
    background-image: https://img.freepik.com/free-photo/fantastic-seascape-with-ripples_1232-424.jpg?semt=ais_user_personalization&w=740&q=80;
}
